<extend name="Public:base" />
<block name="title" >密码修改</block>
<block name="body" > 
  <!-- 顶部提示 starp -->
  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">密码修改</strong> / <small>Password modification</small></div>
  </div>
  <!-- 顶部提示 end --> 
  <!-- 主体区域 starp -->
  <form action="{:U('User/Userinfo/password')}" class="am-form am-form-inline am-margin" method="post">
    <div class="am-tab-panel am-fade am-in am-active">
      <div class="am-g am-margin-top">
        <div class="am-u-sm-4 am-u-md-2 am-text-right">原密码</div>
        <div class="am-u-sm-8 am-u-md-4 am-u-end">
          <input name="old_password" type="password" class="am-input-sm">
        </div>
      </div>
      <div class="am-g am-margin-top">
        <div class="am-u-sm-4 am-u-md-2 am-text-right">新密码</div>
        <div class="am-u-sm-8 am-u-md-4 am-u-end">
          <input name="new_password" type="password" class="am-input-sm">
        </div>
      </div>
      <div class="am-g am-margin-top">
        <div class="am-u-sm-4 am-u-md-2 am-text-right">重复密码</div>
        <div class="am-u-sm-8 am-u-md-4 am-u-end">
          <input name="new_password2" type="password" class="am-input-sm">
        </div>
      </div>
      <div class="am-g am-margin-top">
        <div class="am-u-sm-4 am-u-md-2 am-text-right"> </div>
        <div class="am-u-sm-8 am-u-md-10">
          <button type="submit" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
        </div>
      </div>
    </div>
  </form>
  <!-- 主体区域 end --> 
</block>
