<extend name="Public:base" />
<block name="title" >头像修改</block>
<block name="body" > 
  <!-- 顶部提示 starp -->
  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">头像修改</strong> / <small>Avatar modification</small></div>
  </div>
  <!-- 顶部提示 end --> 
  <!-- 主体区域 starp -->
  <form action="{:U('User/Userinfo/avatar')}" class="am-form am-form-inline am-margin" method="post">
    <div class="am-tab-panel am-fade am-in am-active">
      <div class="am-g am-margin-top">
        <div class="am-u-sm-12 am-u-md-2">功能开发中...</div>
      </div>
    </div>
  </form>
  <!-- 主体区域 end --> 
</block>
